.row-col-filters {
  padding: 5px 3vw 5vh 10vw;
}

.swap-type {
  background-color: white;

  .filter1 {
      padding: 20px 30px;
      width: 70%;
      background-color: rgba(137, 201, 211, 0.2);
      border-radius: 25px;

      .header-title {
          background-color: transparent !important;
      }
  }

  .type-selected {
      background: rgba(255, 255, 255, .6);
      border-radius: 10px;
      z-index: 1;
      color: rgba(0, 90, 141, 0.9) !important;
  }

  .img-type {
      cursor: pointer;
      width: 60px;
  }
}
.header-title{
  background-color: transparent;
}
.swap-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.col-filters {
  display: flex;
  align-items: start;
  justify-content: start;
}

.title-filter1 {
  font-size: 24px;
  color: #005A8D;
  font-weight: 700;
  margin-top: 0.25rem;
}

.card-All-Travels {
  background-image: url("/assets/images/bg-viajesAcomprar.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 45rem;
}
.card-All-Trains {
  background-image: url("/assets/images/placeholder-tren.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 45rem;
}

.bg-allTv {
  padding: 2rem 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.bg {
  margin-left: 10vw;
  padding: 2rem;
  border-radius: 25px;

  .filters-title {
      color: #005A8D;
      font-weight: 700 !important;
      font-size: 1.5rem;
  }

  .filters-label {
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      color: #005A8D;

      img {
          width: 20px;
          margin-right: 10px;
          height: auto;
          object-fit: cover;
      }
  }

  .btn-filter {
      width: 100%;
      padding: 12px;
      background-color: #ffc700;
      color: #005a8d;

      &:hover {
          background-color: #005a8d;
          color: white !important;
          transition: 200ms ease-in-out;
      }
  }
}

.dateCard {
  display: flex;
  flex-direction: row;
}

@media (max-width: 768px) {
  .filters-label {
      max-width: 200px;
  }


  .row-col-filters {
      padding: 20px;
  }

  .swap-type .filter1 {
      width: 100%;
  }


  .swap-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: start;
      text-align: end;
      margin-bottom: 1.5vh;

      img {
          margin-right: 15px;
      }
  }

  .row-swap {
      width: 100%;
  }

  .col-filters {
      display: flex;
      align-items: center;
      justify-content: center;
  }
}
