.card-All-Travels{
  background-image:url("/assets/images/bg-viajesAcomprar.jpeg") ;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 45rem;
  
}
.bg-allTv{
  padding: 2rem 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.bg{
  background-color: #d9d9d9;
  padding: 5rem;

  border-radius: 5px;
}
.dateCard{
  display: flex;
  flex-direction: row;

}
