.imgProduct{
  // object-fit: cover;
   width:  350px;
   margin-left: 10px;
}

.hrOneTravel {
  width: auto;
  height: 1px;
  border-top: 1px solid transparent;
  background-color: #ffc800bd;
  opacity: 1;
}


.rowCards{
  display: flex;
  flex-direction: row;
}
.section1OneTravel{
  // background-color: rgba(255, 255, 0, 0.452);
  .colSection1OneTravel{
    display: grid;
  place-items: center;
  }

  .originalPrice{
    color: red;
    text-decoration: line-through;
  }
  
}

.section2OneTravel{
  padding: 30px;
  text-align: center;
  h4{
    font-weight: bold;
  }
}

.goTravel{
  background-color: #E7F4F6;
  border: 3px solid transparent;
  border-radius: 20px;
  padding: 25px;
  margin-bottom: 20px;
}

.goTravel:hover{
  border: 3px solid #8beaf8a1;
}

.section3OneTravel{
  text-align: center;
}

.section4OneTravel{
  padding-top: 35px;
}

.section5OneTravel{
  padding: 50px;
}

.like{
  margin-left: 7px;
    width: 30px;
}

@media (max-width: 768px) {
  .rowCards{    
    flex-direction: column;
  }
}
