.contactaConNosotros{
  
  justify-content: center;
  align-items: center;
  height: 94vh;
  padding: 0vh 15vw 0vh 15vw !important;
  gap: 3vw;
 
  
}
.contacts{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  
}