.contactaConNosotrosPadre{
  padding:10vh 15vw 10vh 15vw !important;
  gap: 3vw;
}
.contactaConNosotros{
  justify-content: center;
  align-items: center;
  gap: 3vw;
 flex-wrap: wrap;
  
}
col{
  height: 30vh;
}
.contacts{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
@media screen and (max-width: 1400px){
  .contactaConNosotros{
    flex-wrap: wrap;
  }
}