.contactaConNosotrosPadre{
  padding:10vh 15vw 10vh 15vw !important;
  
}

col{
  height: 30vh;
}
.contacts{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  a{
  text-decoration: none;
}
}
@media screen and (max-width: 1400px){
  .contactaConNosotros{
    flex-wrap: wrap;
  }
}