@import "../../Colors/colors";

.padre{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  background: linear-gradient(to left,  $azul, $home-h5-h4);
  padding: 0vh 10% 0vh 10% ;
  
  
}
.apasionados{
  color: white;
  display: flex;
  text-align: right;
  justify-content: center;
  align-items: center;
  h1{
    font-size: 50px ;
  }
  p{
    color: white;
    text-align: right;
    font-size: 24px;
    line-height: 2rem;
  }
  .subPadre{
    .foto{
      display: flex;
    justify-content: space-evenly;
    }
  }
}
.apasionados2{
  display: flex;
  text-align: right;
  justify-content: center;
  align-items: end;
  flex-direction: column;
  flex-wrap: wrap;
  h1{
    font-size: 60px;
  }
}

.padre2{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 6vh 14vw 6vh 14vw ;
}

.nuestraMision{
  color:  $azul;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h4{
    color: $home-h5-h4;
  }
  p{
    font-size: 24px;
    line-height: 2rem;
    color: black;
  }
  
}
.nuestraMision2{
  display: flex;
  flex-direction: column;
  align-items: center;
  img{
    width: 400px ;
  }
}

.padre3{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6vh 15vw 6vh 0vw ;
  flex-wrap: wrap;
  background-color: rgb(235, 234, 234);
  
}

.revolucionando{
  padding: 0 !important;
  
  img{
    width: 50vw;
  }
}
.revolucionando2{
  color:  $azul;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: end;
  text-align: right;
  gap: 10px;
  h4{
    color: $home-h5-h4;
  }
  p{
    line-height: 2rem;
    text-align: right;
    font-size: 24px;
    color: black;
  }
}

.padre4{
  color:  $azul;
  justify-content: center;
  padding: 10vh 18vw 10vh 18vw;
  gap: 2vw;
  line-height: 2rem;
  h2{
    margin-bottom: 16px;
    
  }
  h4{
    color: $home-h5-h4;
  }
  p{
    line-height: 2rem;
    font-size: 24px;
    color: black;
  }
}
ol{
  list-style: none;
}
//-------------------------------------

@media screen and (max-width: 1250px){
  .padre{
    padding: 7vh 8vw 0vh 8vw !important;
  }
  .foto{
    img{
      width: 450px;
    }
  }
  .apasionados2{
    text-align: initial;
    p{
      text-align: initial;
    }
  }
  .subPadre{
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 1200px){

  .nuestraMision{
   flex-wrap: wrap;
  }

.padre3{
  padding: 5vh 0vw 5vh 0vw;
}
.revolucionando{
  img{
    width: 100vw;
  }
}
.revolucionando2{
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 4vh 4vw 0vh 4vw;
  p{
    text-align: center;
  }
}
}
@media screen and (max-width: 600px){
  .padre{
    .apasionados{
      .subPadre{
        .foto{
          display: flex;
          justify-content: center;
          img{
            width: 300px;
          }
        }
      }
    }
    .apasionados2{
    
      h1{
        font-size: 35px;
      }
      h4{
        font-size: 20px;
      }
      p{
        font-size: 17px;
      }
    }
  }
  .padre2{
    padding: 6vh 7vw 6vh 7vw ;
    .nuestraMision2{
      img{
        width: 300px;
      }
    }
  }
  .padre3{
    .revolucionando{
      img{
      width: 100vw;
    }
    }
    
  }
  .padre4{
    padding: 10vh 10vw 10vh 5vw;
  }
}