.infoUser {
  background-color: #89c9d3c4;
  height: 100vh;
  text-align: center;
  padding-top: 25px;
}

.screenUser {
  height: 100vh;
  background-color: #89c9d346;
}

.ajusteSymbol{
  height: 30px;
  cursor: pointer;
}

.userButtons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 250px;
  margin-top: 80px;
  
}

.Buttonn {
  background-color: #005a8d !important;
  border-radius: 25px !important;
}
.Buttonn:hover {
  background-color: #ffc700 !important;
  border: 1px solid #ffc700 !important;
  color: black !important;
  font-weight: bold !important;
}

.all-info-user {
  margin-top: 15vh;
  h2 {
    font-size: 40px;
  }
  p {
    font-size: 20px;
    a {
      text-decoration: none;
    }
  }
}
.corazon {
  width: 30px;
}

.formEdit{
  // background-color: red;
  width: 60%;
  margin: 25px;
  padding: 20px;
  text-align: center;
}

.formButton{
  display: flex;
  justify-content: space-evenly;
}

//estilos para admin
.infoAdmin{
  background-color: #ffeca0;
  height: 100vh;
  text-align: center;
  padding-top: 25px;
}

//---------------------------

@media (max-width: 768px) {
  .userButtons {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
