.clausula{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0vh 30vw 0vh 30vw ;
  
}
.title{
  font-size: 70px !important;
  color: #005a8d;
  margin: 3vh;
}
@media screen and (max-width: 1400px){
  .clausula{
    padding: 0vh 15vw 0vh 15vw;
  }
  .title{
    text-align: center;
  }
}