.clausula{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0vh 30vw 0vh 30vw !important;
  height: 75vh;
}
.title{
  font-size: 32px !important;
  margin: 4vh;
}