.firstRow {
  text-align: center;
  padding-top: 50px;
  h1 {
    font-size: 60px;
    color: #005a8d;
  }
}

.colPolitica {
  padding: 100px;

  .PolitBasic {
    color: #005a8d;
  }
}
