.cardPadre{
  justify-content: center;
  width: 92% !important;
}

.cardBlackEffect{
  background-color: rgb(0, 0, 0, 0.2);
  transition: 0.6s;
  .like{
    width: 35px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
}
.cardBlackEffect:hover{
  background-color: rgb(0, 0, 0, 0.5)
}
.marginLeft{
  margin-left: 16px;
  margin-top: 16px;
}
.allTravelsCard{
  width: 80% !important;
  align-items: center;
  justify-content: center;
  transition: 0.6s;
  text-align: start;
  p{
    color: white;
  }
  .h5{
    color: white;
    font-weight: bold;
  }
  h6{
    color: white;
    font-weight: bold;
  }
}
.allTravelsCard:hover{
  transform: translateY(-10px)
}
.buttonCardsTravel{
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 600px){

}
