//estilos encabezados
.h2-head{
  font-size: 60px;
  text-align: center;
  color: #005a8d;
  margin-top: 5vh;
}

//estilos contenedores
.cont-accord{
  padding: 5vh 15vw;
  
}

.head-accord{ 
  font-weight: bold;
  color: #005a8d;
  font-size: 20px;
  padding: 1vw;
}

