@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: 'Nunito', sans-serif;
}

//estilos encabezados
.h2-head-faqs{
  font-size: 60px;
  text-align: center;
  color: #005a8d;
  margin-top: 5vh;
}

//estilos contenedores
.cont-accord-faqs{
  padding: 5vh 15vw;
  
}

.head-accord-faqs{ 
  font-weight: bold;
  color: #005a8d;
  font-size: 20px;
  padding: 1vw;
}

@media screen and (max-width: 1492px){
  .cont-accord{
    padding: 50vw;
  }
}