.footer {
  border-top: 2px solid #005a8d;
  border-bottom: 2px solid #005a8d;
  margin-top: 5vh;
  margin-bottom: 5vh;
  .title-col {
    margin-bottom: 2vh;
    margin-top: 2vh;
    font-family: Nunito;
    font-size: 24px;
    text-align: left;
    line-height: 24px;
    color: #005a8d;
  }
  p {
    cursor: pointer;
    font-family: Nunito;
    font-size: 14px;
    letter-spacing: normal;
    text-align: left;
    line-height: 21px;
    color: #585858;
  }
  
.title-swap {
  font-size: 14px;
  text-align: right;
  color: #005a8d;
}
.logo-swap {
  margin-top: 2vh;
  width: 90px;
}
.square-logo {
  margin-top: 3vh;
 cursor: pointer;
  width: 300px;
  margin-bottom: 1vh;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 375px;
  .iconStyle {
    width: 40px;
    height: 40px;
    border: #005a8d;
    border-radius: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #005a8d;
    margin-right: 20px;
  }
  
  .iconInnerStyle {
    color: white;
    font-size: 18px;
    vertical-align: middle;
  }
}
.rights {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rights-text {
  font-weight: bold;
  color: black;
}

}
.logos-footer{
  .lanzadera-img {
    margin-right: 15vw;
    margin-bottom: 2vh;
    width: 12.5vw;
  }
  
  .minerva-img {
    width: 12vw;
    margin-bottom: -20vh;
  }
  
  .p-footer {
    margin-bottom: -3vh;
    margin-right: 3vw;
    color: #005a8d;
  }
  
}


@media (max-width: 768px) {
  .footer {
    text-align: center;
    .col-1{
      display:flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .col-2{
      display:flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .col-3{
      text-align: center;
      display:flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  .low-footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}

//FALTA AJUSTAR LOS ULTIMOS LOGOS Y EL TEXTO


