.homeSection1{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  background: linear-gradient(to left,  #005a8d, #89c9d3c4);
  padding: 0vh 15% 0vh 15% ;
  flex-wrap: wrap;
  gap: 3vh;
  img{
    width: 400px;
  }
  .homeCol1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .homesubCol1{
    background-color: white;
    border-radius: 60px;
    align-items: center;
    text-align: center;
    padding: 3vh 4vw 3vh 4vw;
    width: 30vw;
    transition: 0.6s;
    h2{
      color:  #005a8d;
      font-weight: bold;
    }
    h5{
      color: #89c9d3c4;
      font-weight: bold;
    }
    .boton{
      background-color: #ffc700;
      color: #005a8d;
      border: none;
      border-radius: 50px;
      font-weight: bold;
      width: 160px;
      height: 44px;
      font-size: 1.5rem;
      transition: 0.4s;
    }
    .boton:hover{
      background-color: #005a8d;
      color: white;
    }
  }
  .homesubCol1:hover{
    transform: translateY(-10px)
  }
  
}

.homeSection2{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding: 8vh 15% 8vh 15% ;
  flex-wrap: wrap;
  gap: 3vh;
  .azulAmarillo{
    color:  #89c9d3c4;
    font-weight: bold;
    text-decoration: none;
    transition: 0.4s;
  }
  .azulAmarillo:hover{
    color: #ffc700;
  }
  .homeSectionCol1{
     justify-content: center;
     align-items: center;
     display: flex;
     flex-direction: column;
     text-align: center;
     h2{
      color:  #005a8d;
      font-weight: bold;
      font-size: 40px;
    }
    h4{
      color: #89c9d3c4;
      font-weight: bold;
    }
  }
  .homeSubSection1{
    display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  background: linear-gradient(to left,  #005a8d, #89c9d3c4);
  padding: 0vh 15% 0vh 15% ;
  flex-wrap: wrap;
  gap: 3vh;
  border-radius: 25px;
  .homeSubCol1{
    justify-content: center;
     align-items: center;
     display: flex;
     flex-direction: column;
     color: white;
     padding: 4vh;
     gap: 2vh;
  }
  .botonSubSection1{
    background-color: #ffc700;
      color: #005a8d;
      border: none;
      font-weight: bold;
      width: 150px;
      height: 44px;
      font-size: 1.5rem;
      transition: 0.4s;
  }
  .botonSubSection1:hover{
    background-color: white;
    color: #ffc700;
  }
  }
}
.homeSection3{
  padding: 4vh 15% 4vh 15%;
  justify-content: center;
  align-items: end;
  .iconosHome{
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
      width: 80px;
      height: 70px;
    }
  
    a{
      padding-top: 10px;
      font-weight: 800;
      font-size: 17.929px;
      color: #005a8d;
      font-weight: bold;
      text-decoration: none;
      text-align: center;
    }
    a:hover{
      color: #ffc700;
    }
  }
}
.homeSection4{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  background: linear-gradient(to left,  #005a8d, #89c9d3c4);
  padding: 15vh 15% 15vh 15% ;
  flex-wrap: wrap;
  
    .homeSubSection4Col1{
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 60px;
    align-items: center;
    text-align: center;
    padding: 3vh 4vw 3vh 4vw;
    width: 30vw;
    gap: 3vh;
    transition: 0.6s;
    h2{
      color:  #005a8d;
      font-weight: bold;
    }
    h4{
      color: #89c9d3c4;
      font-weight: bold;
    }
    .botonHomeSection4{
      background-color: #ffc700;
      color: #005a8d;
      border: none;
      border-radius: 50px;
      font-weight: bold;
      width: 150px;
      height: 44px;
      font-size: 1.5rem;
      transition: 0.4s;
    }
    .botonHomeSection4:hover{
      background-color: #005a8d;
      color: white;
    }
    }
    .homeSubSection4Col1:hover{
      transform: translateY(-10px)
    }
}
.homeSection5{
  justify-content: center;
  padding: 10vh 10vw 10vh 10vw;
  .iconosHome2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    h5{
      padding: 15px;
      color:  #005a8d;
      font-weight: bold;
    }
    img{
      width: 80px;
      height: 70px;
    }
  }
}

.homeSubSection5{
  justify-content: center;
  justify-content: space-evenly;
}

.homeSection6{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  background: linear-gradient(to left,  #005a8d, #89c9d3c4);
  padding: 5vh 15% 5vh 15% ;
  .carouselHomeP{
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 25px;
    .carouselHome{
      background-color: white;
      border-radius: 25px;
      padding: 4vh 20vw 4vh 20vw;
    }
  }
}

//----------------------

@media screen and (max-width: 1200px){
  .homeSection1{
    padding: 3vh 5vw 0vh 5vw;
    .homesubCol1{
      width: 70vw;
    }
  }
  .homeSection2{
    padding: 8vh 10% 8vh 10% ;
  }
  
  
}
 
 @media screen and (max-width: 783px){
  .homeSection4{
    padding: 8vh 5% 8vh 5% ;
    flex-wrap: wrap;
    .homeSubSection4Col1{
       width: 80vw;
    }
  }
  .homeSection6{
    .carouselHomeP{
      .carouselHome{
        padding: 4vh 5vw 4vh 5vw;
      }
    }
  }
} 
@media screen and (min-width: 1200px){
  .homeSection5{
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 600px){
  .homeSection1{
    .homeCol1{
      img{
        width: 350px;
      }
    }
  }
  .homeSection5{
    align-items: center;
    flex-direction: column;
  }
  .homeSubSection5{
    flex-direction: column;
    align-items: center;
  }
  .homeSection6{
    .carouselHomeP{
      .carouselHome{
        padding: 4vh 5vw 4vh 5vw;
      }
    }
  }
}
