.homeSection1{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  background: linear-gradient(to left,  #005a8d, #89c9d3c4);
  padding: 0vh 15% 0vh 15% ;
  flex-wrap: wrap;
  img{
    width: 22vw;
  }
  .homeCol1{
    background-color: white;
    border-radius: 60px;
    align-items: center;
    text-align: center;
    padding: 3vh 4vw 3vh 4vw;
    width: 15vw;
    h2{
      color:  #005a8d;
      font-weight: bold;
    }
    h5{
      color: #89c9d3c4;
      font-weight: bold;
    }
    .boton{
      background-color: #ffc700;
      color: #005a8d;
      border: none;
      font-weight: bold;
    }
  }
}