@import "../../Colors/colors";

.travel-section {
  height: auto;
  padding: 2vw;
}

// botones
.buttonn-admin,
.buttonn-admin-red,
.buttonn-admin-green {
  border-radius: 25px !important;
  &:hover {
    background-color: $amarillo !important;
    border: 1px solid $amarillo !important;
    color: black !important;
    font-weight: bold !important;
  }
}

.buttonn-admin {
  background-color: $azul !important;
}

.buttonn-admin-red,
.buttonn-admin-green {
  border: none !important;
}

.buttonn-admin-red {
  background-color: $button-admin-red !important;
}

.buttonn-admin-green {
  background-color: $button-admin-green !important;
}
