.custom-input {
  border: 1px solid #196a98 !important;
  height: 48px;
  border-radius: 4px !important;
  padding: 0.375rem 0.75rem;
  font-weight: 400;
  width: 500px !important;
  max-width: 600px;
  margin-bottom: 2vh;
}