.container-sell {
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  margin-top: -3em;
  min-width: 0;
  margin-top: -3vh;
  margin-right: 15vw;
  margin-left: 15vw;
}
h3 {
  margin-top: 2vh;
  color: #89c9d3;
}

.swapealo {
  margin-right: 50px;
  width: 300px;
  background-color: #ffc700;
  color: #005a8d;
  font-family: "Nunito";
  font-weight: 800;
  font-size: 28px;
  line-height: 120%;
  border-radius: 50px;
  display: flex;
  justify-content: center !important;
  margin-top: 7%;
  padding: 15px 0;
}

.container-ticket {
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  margin-top: -3em;
  min-width: 0;
  margin-top: -3vh;
  cursor: pointer;

  img {
    cursor: pointer;
    overflow-clip-margin: content-box;
    overflow: clip;
    max-width: 100%;
    margin-bottom: 10px;
  }

  p {
    color: #212529;
    font-weight: 400;
    text-align: center;
  }
}
.tickets-sell {
  .sell-icon {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3vh;
  }
  .sell-icon.selected {
    background: rgba(137, 201, 211, 0.2);
    border-radius: 10px;
    position: relative;
    color: rgba(0, 90, 141, 0.9) !important;
  }
}

.title-form {
  color: #005a8d;
  font-size: 40px;
}
.label {
  color: #005a8d;
  font-size: 16px;
}
.custom-input {
  border: 1px solid #196a98 !important;
  height: 48px;
  border-radius: 4px !important;
  padding: 0.375rem 0.75rem;
  font-weight: 400;
  width: 500px !important;
  max-width: 600px;
  margin-bottom: 2vh;
}

.custom-select {
  border: 1px solid #196a98 !important;
  height: 48px;
  border-radius: 4px !important;
  padding: 0.375rem 0.75rem;
  font-weight: 400;
  width: 400px;
  max-width: 500px;
}

.buttons {
  .btn {
    margin-top: 8vh;
    background-color: #ffc700;
    color: #005a8d;
    font-weight: 800;
    line-height: 120%;
    font-size: 28px;
    padding: 10px;
    border-radius: 50px;
    width: 25vw;

    &:hover {
      background-color: #005a8d;
      color: white !important;
      transition: 200ms ease-in-out;
    }
  }
}

@media (max-width: 768px) {
  .custom-input{
max-width: 350px;  
}
.buttons{
  .btn{
    width: 100%;
    font-size: 20px;
    &:hover {
      background-color: #005a8d;
      color: white !important;
      transition: 300ms ease-in-out;
    }
  }
}
}