.navbarBrand {
  width: 200px;
}

.navbLink {
  display: flex;
  justify-content: space-around;
  .btn-contact{
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    vertical-align: middle;
    padding: 0.375rem 0.75rem;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 50px;
    border: 1px solid transparent;
    background-color: #005a8d;
    min-height: 42px;
    
    img{
      width: 22px;
      margin-right: 10px;
    }
    &:hover{
      font-weight: 500;
      font-size: 1.1em;        /* Aumenta el tamaño de la fuente en un 10% */
      border-radius: 50px;
      background-color: #c0dff1;
      transition: background-color 0.2s, transform 0.2s, font-size 0.2s;  /* Añadido transform y font-size a la transición */
      transform: translateY(-5px);  /* Hace que el enlace "ascienda" 5px */
     
    }
  }
  .custom-nav-link:hover {
    font-weight: 500;
    font-size: 1.1em;        /* Aumenta el tamaño de la fuente en un 10% */
    border-radius: 50px;
    background-color: #c0dff1;
    transition: background-color 0.2s, transform 0.2s, font-size 0.2s;  /* Añadido transform y font-size a la transición */
    transform: translateY(-5px);  /* Hace que el enlace "ascienda" 5px */
}

}

.buttonNav {
  border-radius: 25px !important;
  background-color: #005a8d !important;
  margin-left: 25px;
}

.avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 10px;
  background-color: #005a8d;
  h4 {
    color: white;
  }
}
